html,
body {
	height: 100%;
}

.btn-shift {
	background-color: #ee814a;
	color: white;
}

.btn-shift:hover {
	background-color: white;
	color: black;
	border: 1px solid;
	border-color: #ee814a;
}

.btn-circle {
	border-radius: 50%;
}

.icon-list {
	border-radius: 50%;
	background-color: gray;
	font-size: 30px;
}

.col-btn {
	text-align: end;
}

.btn-accion {
	background-color: #bfe6e0;
	border-color: #bfe6e0;
	color: black;
}

.img-circle {
	border-radius: 50%;
}

.card-mesa:hover {
	box-sizing: border-box;
	border: 3px solid;
	border-color: chartreuse;
}

.mnu-vertical {
	display: flex;
	flex-direction: column;
	background-color: #ee814a;
	border-radius: 0 0 0 20px;
	width: 6em;
	padding: 10px 0 20px 0;
}

.item-mnu-vertical {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 20px 0 0 20px;
	align-items: center;
	color: white;
	border: none;
	background: none;
}

.item-mnu-vertical i {
	font-size: 20px;
}

.item-mnu-vertical span {
	font-weight: bold;
	font-size: 12px;
}

.item-mnu-vertical:hover {
	background-color: #ee6b29;
	color: black;
	text-decoration: none;
}

.item-mnu-selected {
	background-color: white;
	color: black;
}

.item-mnu-selected:hover {
	background-color: white;
	color: black;
}

.logo-header {
	width: 40px;
	margin: 10px;
}

.header-nav {
	border-bottom: 1px solid #807e7e;
}

.btn-item-header {
	border-right: 1px solid #555353;
	color: #ee814a;
}

.contenido {
	padding: 25px;
	height: calc(100vh - 68.95px);
	overflow-y: auto;
	flex: 1 1 auto;
}

/* --------- imagen  ------------- */

/* .prevPhotoPerfil {
  display: flex;
  justify-content: space-between;
  width: 20vw;
  height: 20vw;
  border: 1px solid #CCC;
  position: relative;
  border-radius: 50% !important;
  cursor: pointer;
  background: #ffdf7e;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;  
} */

.prevPhoto {
	display: flex;
	justify-content: space-between;
	width: 160px;
	height: 175px;
	border: 1px solid #ccc;
	position: relative;
	cursor: pointer;
	background: url(../RECURSOS/PERFIL.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin: auto;
	border-radius: 50%;
}

/* .intento {
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  background: url(../recursos/user.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;
} */

.prevPhoto label {
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.prevPhoto img {
	width: 100%;
	height: 100%;
}
.upimg,
.notBlock {
	display: none !important;
}

.prevPhotoPerfil label {
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.prevPhotoPerfil img {
	width: 100%;
	height: 100%;
	border-radius: 50% !important;
}

.upimg,
.notBlock {
	display: none !important;
}
.errorArchivo {
	font-size: 16px;
	font-family: arial;
	color: #cc0000;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}
.delPhoto {
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background: red;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 10;
}

.imgNivel {
	filter: drop-shadow(5px 5px 0.5px rgba(46, 30, 46, 0.589));
}

.listaBorde {
	border: 0;
	border-radius: 5px;
	-webkit-filter: drop-shadow(1px 1px 1px rgba(51, 51, 51, 0.521));
	filter: drop-shadow(1px 1px 1px rgba(51, 51, 51, 0.664));
}

.listaBorde:hover {
	transform: translateY(-1px);
	box-shadow: 1px 1px 2px rgba(153, 153, 153, 0.705);
}

.mesa-pedido {
	padding: 15px 30px !important;
}

.mesa-pedido .card {
	min-height: 14em;
	height: 100%;
	border-radius: 25px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.48);
	transition: all 0.3s ease-in-out;
	font-size: 1.1em;
}

.mesa-pedido .card-title {
	font-size: 1.5em;
}

.mesa-pedido .card:hover {
	text-decoration: none;
	box-shadow: 0 0 10px black;
}

.mesa-pedido .libre {
	background-color: #64bd74;
}

.mesa-pedido .libre .card-body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3em;
	font-weight: 500;
}

.mesa-pedido .pendiente {
	background-color: #f7c532;
}

.mesa-pedido .ocupado {
	background-color: #f46e5b;
}

.damesa {
	border-radius: 20px;
}

.login {
	height: -webkit-fill-available;
	display: flex;
	flex-wrap: wrap;
}

.login-img {
	background-color: #e4e4e4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.login-form form {
	width: 25rem;
}

.login-form .input-group-text {
	color: #d73f28;
}

.login-form button {
	background-color: #d73f28;
	color: white;
	font-weight: 500;
}

.login-form .invalid-feedback {
	text-align: start;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: -webkit-fill-available;
}

hr.vertical {
	border: none;
	border-left: 1px solid hsla(200, 10%, 50%, 100);
	width: 2px;
	margin: 0;
}

.navbar-menu {
	display: flex;
	align-items: center;
}


.btnColor {
    /* background: linear-gradient(to bottom, #a35117 50%, #d56a1e 50%); */
    background: linear-gradient(to bottom, #DC4B01 50%, #FF661B 50%);
    color: white;
    border-radius: 2px;
}

.btnColor:hover {
    background: #d5691e;
    /* background: #a35117; */
    /* transform: translateY(-5px); */
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
    border: 0 solid;
    text-decoration: none;
}

.colorLetra{
	color: #EF9024;
}

.colorLetra2{
	color: #555353;
}

.reclamof{
	min-height: 14em;
	height: 100%;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.48);
	transition: all 0.3s ease-in-out;
	font-size: 1.1em;
}

.nose{
	min-height: 14em;
	height: 100%;
	border-radius: 15px;
	transition: all 0.3s ease-in-out;
	font-size: 1.1em;
}

input[type='file'] #txtImagen {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.circuloverde{
    border-radius: 250px;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
}